<div class="modal-header">
	<h3>Edit Contact</h3>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
	
	<div class="modal-body">
		<div class="form-group">
			 <label for="first_name">First Name</label>
			<input type="text" class="form-control" formControlName="first_name" id="first_name" placeholder="First Name">
		</div>
		<div class="form-group">
			 <label for="last_name">Last Name</label>
			<input type="text" class="form-control" formControlName="last_name" id="last_name" placeholder="Last Name">
		</div>
		<div class="form-group" *ngIf="contact?.image_name">
			<label for="fileupload">Profile photo:</label>
			<span>{{ contact?.image_name }} </span>
			<button type="button" class="btn btn-danger btn-sm" (click)="removePhoto(contact.image_name)"> DELETE </button>
		</div>
		<div class="form-group" *ngIf="!contact?.image_name">
			 <label for="fileupload">Profile photo</label>
			 <input type="file" (change)="onFileChange($event)" formControlName="image_name" #fileInput />
		</div>
		<div class="form-group">
			 <label for="email">Email address</label>
			<input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
		</div>
		<div class="form-group">
			<input type="checkbox" [checked]="contact?.favorite == 1"  formControlName="favorite" class="form-check-input" id="favorite">
			<label class="form-check-label" for="favorite">Mark as favorite</label>
		</div>
		<hr />
		<h2>Add Phones</h2>
		<hr />
		<table class="table">
			<tr>
				<th colspan="2">Name</th>
				<th colspan="2">Phone</th>
				<th></th>
			</tr>
			<tr>
				<td colspan="2">
					<input type="text" class="form-control" #name>
				</td>
				<td colspan="2">
					<input type="text" class="form-control" #phone>
				</td>
				<td>
					<button type="button" class="btn btn-dark" (click)="addPhone(name, phone)">+ Add Phone </button>
				</td>
			</tr>
			<tr *ngFor="let phone of form.get('phones').controls; let i = index">
				<td>{{ phone.value[0] }}</td>
				<td>{{ phone.value[1] }}</td>
				<td><button type="button" class="btn btn-danger" (click)="removePhone(i)"> - </button></td>
			</tr>
		</table>
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
	</div>
</form>